<!doctype html>
<html<%- htmlAttributes %>>
  <head>
    <%- htmlHead %>
  </head>
  <body class="<%- bodyClassName %>">
    <div id="app" data-revision="<%- revision %>" data-build-date="<%- buildDate %>"><%- renderedContent %></div>
    <script>window.__INITIAL_STATE__ = <%- initialState %>;</script>
    <script>window.__PRELOADED_DATA__ = <%- preloadedData %>;</script>
    <% if (typeof webpackDll !== 'undefined' && webpackDll) { %>
      <script data-dll="true" src="/dependencies.dll.js"></script>
    <% } %>
  </body>
</html>
